* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

body {
    /*background-image: url("../assets/nature-1.jpg");*/
}

div {
    display: block;
}

#hero h1 {
    margin: -.4em 0 -.2em;
    font-size: 230%;
    font-family: LatoWebLight, serif;
    color: #777;
}

#hero {
    text-align: center;
    margin-left: 0;
    margin-right: 0;
}
